:where(.css-dev-only-do-not-override-12upa3x).ant-menu-light .ant-menu-item-selected , :where(.css-dev-only-do-not-override-12upa3x).ant-menu-light>.ant-menu .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-12upa3x).ant-menu-light .ant-menu-item-selected a:hover, :where(.css-dev-only-do-not-override-12upa3x).ant-menu-light>.ant-menu .ant-menu-item-selected a:hover {
    color: #fff;
    background-color: #ffb800 !important;
}

.menu {
    min-height: 100%;
 background-color: #f9f6f4;
}


.menu .ant-menu-item-icon {
    margin-right: 8px; /* Khoảng cách từ biểu tượng đến nhãn */
    line-height: 40px;
  }

a { 
    text-decoration: none;
}

.siderbar {
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    min-height: 100vh;
}